# Ignore everything
*

# But not these files...
!.gitignore
!*.py
!*.ini
!*.md
!*runserie_description.csv
!**/template/*
!**/template/*/*
!**/raw_files/*
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*

# unless they are named this way:
**/restart*/n[vp]t_md.py
**/restart*/change_volume.py
**/restart*/create_supercell.py